{% block footer %}
{% load static %}
    <script type=application/ld+json>
        {
        "@content":"https://schema.org",
        "@type":"organisation",
        "name":"{{settings.business_name|safe}}",
        "description": "{{settings.business_description|safe}}"
        "logo":"{{settings.logo_url|safe}}",
        "url":"{{settings.meta_website|safe}}",
        "email":"{{settings.email|safe}}",
        "member": [
            {
            "@type": "Organization"
            }],
        "address": {
                "@type": "PostalAddress",
                "addressLocality": "{{settings.business_HO_city|safe}}",
                "addressRegion": "IN",
                "streetAddress": "{{settings.business_HO_address|safe}}"
            },
        "contactPoint":[
            {
            "@type" : "ContactPoint",
            "telephone" : "{{settings.mobile|safe}}",
            "contactType" : "student admission services"
            },
            {
            "@type" : "ContactPoint",
            "telephone" : "{{settings.mobile2|safe}}",
            "contactType" : "support services"
            },
            {
            "@type" : "ContactPoint",
            "telephone" : "{{settings.mobile3|safe}}",
            "contactType" : "MBBS Abroad Counselling"
            },
            {
            "@type" : "ContactPoint",
            "telephone" : "{{settings.tollfree|safe}}",
            "contactType" : "tollfree MBBS Abroad Counselling"
            }],
        "sameAs": [
            "{{settings.fb_url|safe}}",
            "{{settings.insta_url|safe}}",
            "{{settings.linkedin_url|safe}}",
            "{{settings.twitter_url|safe}}",
            "{{settings.youtube_url|safe}}"
            ]
        }
    </script>
    <footer class="footer">    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-py-60">
                        <div class="row">
                            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                                <a href="#" class="logo-footer">                                        
                                    {% if settings.logo_url %}
                                        <img src="{{settings.logo_url|safe}}" height="24" alt="{{settings.business_name|safe}}">
                                    {% else %}
                                        <img src="{% static 'assets/images/logo-light.png' %}" height="24" alt="{{settings.business_name|safe}}">
                                    {% endif %}                                        
                                </a>
                                <p class="mt-4">{{settings.business_name|safe}}</p>
                                <p class="mt-4">{{settings.business_description|safe}}</p>
                                <p class="mt-4">{{settings.business_HO_address|safe}}</p>
                                <p class="mt-4">{{settings.business_HO_city|safe}}</p>
                                
                                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a target="blank" href="{{settings.fb_url|safe}}" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a target="blank" href="{{settings.insta_url|safe}}" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a target="blank" href="{{settings.youtube_url|safe}}" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a target="blank" href="{{settings.twitter_url|safe}}" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a target="blank" href="{{settings.linkedin_url|safe}}" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>                                        
                                </ul><!--end icon-->
                            </div><!--end col-->
                    
                            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">MBBS Abroad</h5>
                                <ul class="list-unstyled footer-list mt-4">
                                {% for location in country_locations %}
                                    <li><a href="{% url 'location' location.slug|safe %}" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> MBBS in {{ location.full_name|safe }}</a></li>
                                {% endfor %}
                                    
                                    
                                </ul>
                            </div><!--end col-->
                    
                            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Usefull Links</h5>
                                <ul class="list-unstyled footer-list mt-4">
                                    <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                                    <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                                    <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                                    <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                                </ul>
                            </div><!--end col-->

                            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                <h5 class="footer-head">Newsletter</h5>
                                <p class="mt-4">Sign up and receive the latest tips via email.</p>
                                <form>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="foot-subscribe mb-3">
                                                <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary" value="Subscribe">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="footer-py-30 footer-bar">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="text-sm-start">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Landrick. Powered by <a follow href="https://codesquare.co.in/" target="_blank" class="text-reset">Code Square Technologies</a>.</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled text-sm-end mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static 'assets/images/payments/american-ex.png' %}" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static 'assets/images/payments/discover.png' %}" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static 'assets/images/payments/master-card.png' %}" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static 'assets/images/payments/paypal.png' %}" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static 'assets/images/payments/visa.png' %}" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div>
    </footer><!--end footer-->
{% endblock %}